<header>
    <h1>GoalMinder</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/event">Event</a></li>
            <li><a href="/goal">Goal</a></li>
        </ul>
    </nav>
</header>