
  
    <div class="title is-ancestor">
    <div class="title is-parent is-4">
      <article class="title is-child box">
          <a href="/"><h1>GoalMinder</h1></a>
      <div class="subtitle">
        <strong>A unified platform</strong> for seamlessly organizing, monitoring, and sharing both events and goals
        </div>
      </article>
    </div>
  </div>
        
<nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="/register">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" href="/login">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </nav>