<a href="/"><h1>GoalMinder</h1></a>

<h1>Login</h1>

<form action="/login" method="post">
  <label for="email">Email:</label>
  <input type="email" name="email" id="email" required>

  <label for="password">Password:</label>
  <input type="password" name="password" id="password" required>

  <button type="submit">Log In</button>
</form>

<p>Don't have an account? <a href="/register">Sign up here</a></p>